.admin {
    &__list {
        display: flex;
        align-items: center;
        @media screen and (max-width: 464.98px) {
            width: 100%;
        }
    }
    &__item {
        flex: 1 1 calc(100% / 3);
        border-left: 1px solid rgba($color: #000000, $alpha: 0.15);
        position: relative;
        &:first-child {
            border: none;
        }
        &:last-child {
            @media screen and (min-width: 1440px) {
                display: none;
            }
            @media screen and (min-width: 1280px) and (max-width: 1439.98px) {
                display: none;
            }
            @media screen and (min-width: 992px) and (max-width: 1279.98px) {
                display: flex;
                justify-content: flex-end;
            }
            @media screen and (min-width: 768px) and (max-width: 991.98px) {
                display: flex;
                justify-content: flex-end;
            }
            @media screen and (min-width: 465px) and (max-width: 767.98px) {
                border: none;
                display: flex;
                justify-content: flex-end;
            }
            @media screen and (min-width: 375px) and (max-width: 464.98px) {
                border: none;
                display: flex;
                justify-content: flex-end;
            }
            @media screen and (max-width: 374.98px) {
                border: none;
                display: flex;
                justify-content: flex-end;
            }
        }
        &:nth-child(1) {
            @media screen and (min-width: 465px) and (max-width: 767.98px) {
                display: none;
            }
            @media screen and (min-width: 375px) and (max-width: 464.98px) {
                display: none;
            }
            @media screen and (max-width: 374.98px) {
                display: none;
            }
        }
        &:nth-child(2) {
            @media screen and (min-width: 465px) and (max-width: 767.98px) {
                display: none;
            }
            @media screen and (min-width: 375px) and (max-width: 464.98px) {
                display: none;
            }
            @media screen and (max-width: 374.98px) {
                display: none;
            }
        }
        &:nth-child(3) {
            @media screen and (min-width: 465px) and (max-width: 767.98px) {
                display: none;
            }
            @media screen and (min-width: 375px) and (max-width: 464.98px) {
                display: none;
            }
            @media screen and (max-width: 374.98px) {
                display: none;
            }
        }
    }
    &__count {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15px;
        height: 15px;
        border-radius: 15px;
        background-color: var(--accedent-primary);
        color: var(--light-primary);
        font-size: 8px;
        position: absolute;
        top: 20%;
        right: 0;
        z-index: 2;
        transform: translateX(-37px) translateY(-30%);
    }
    &__desktop-item {
        width: 100%;
        min-width: 250px;
        flex: 1 1 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-color: var(--light-primary);
        border: 1px solid rgba($color: #000000, $alpha: 0.15);
        position: absolute;
        z-index: 99999;
        &--inner-item {
            width: 100%;
            border-bottom: 1px solid rgba($color: #000000, $alpha: 0.15);
            &:last-child {
                border: none;
            }
        }
        &--inner-link {
            width: 100%;
            height: 100%;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover,
            &:active,
            &:focus {
                background-color: var(--middle-primary);
            }
        }
        &.hide {
            display: none;
        }
    }
    &__mobile {
        width: 100%;
        max-width: 320px;
        height: 426px;
        overflow: hidden;
        overflow-y: scroll;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: var(--light-primary);
        box-shadow: 0 0 5px 0 rgba($color: #000000, $alpha: .15);
        z-index: 99999;
        &.hide {
            display: none;
        }
        @media screen and (min-width: 992px) and (max-width: 1279.98px) {
            right: 100px;
        }
        &--item {
            border-bottom: 1px solid rgba($color: #000000, $alpha: .15);
            @media screen and (min-width: 1440px) {
                &:first-child {
                    display: none;
                }
                &:nth-child(2) {
                    display: none;
                }
            }
            @media screen and (min-width: 1280px) and (max-width: 1439.98px) {
                &:first-child {
                    display: none;
                }
                &:nth-child(2) {
                    display: none;
                }
            }
            @media screen and (min-width: 992px) and (max-width: 1279.98px) {
                &:first-child {
                    display: none;
                }
                &:nth-child(2) {
                    & .search {
                        display: flex;
                        padding: 20px;
                        & .search__btn {
                            top: 50%;
                            right: 20px;
                            transform: translateY(-50%);
                        }
                    }
                }
                &:nth-child(3) {
                    display: none;
                }
            }
            @media screen and (min-width: 768px) and (max-width: 991.98px) {
                &:first-child {
                    display: none;
                }
                &:nth-child(2) {
                    & .search {
                        display: flex;
                        padding: 20px;
                        & .search__btn {
                            top: 50%;
                            right: 20px;
                            transform: translateY(-50%);
                        }
                    }
                }
                &:nth-child(3) {
                    display: none;
                }
            }
            @media screen and (min-width: 465px) and (max-width: 767.98px) {
                &:first-child {
                    display: flex;
                    align-items: center;
                    & .btn {
                        flex: 1 1 calc(100% / 3);
                        border-right: 1px solid rgba($color: #000000, $alpha: .15);
                        &:last-child {
                            border: none;
                        }
                        & .admin__count {
                            transform: translateX(-35px) translateY(-10%);
                        }
                    }
                }
                &:nth-child(2) {
                    & .search {
                        display: flex;
                        padding: 20px;
                        & .search__btn {
                            top: 50%;
                            right: 20px;
                            transform: translateY(-50%);
                        }
                    }
                }
                &:nth-child(3) {
                    display: none;
                }
            }
            @media screen and (min-width: 375px) and (max-width: 464.98px) {
                &:first-child {
                    display: flex;
                    align-items: center;
                    & .btn {
                        flex: 1 1 calc(100% / 3);
                        border-right: 1px solid rgba($color: #000000, $alpha: .15);
                        &:last-child {
                            border: none;
                        }
                        & .admin__count {
                            transform: translateX(-35px) translateY(-10%);
                        }
                    }
                }
                &:nth-child(2) {
                    & .search {
                        display: flex;
                        padding: 20px;
                        & .search__btn {
                            top: 50%;
                            right: 20px;
                            transform: translateY(-50%);
                        }
                    }
                }
            }
            @media screen and (max-width: 374.98px) {
                &:first-child {
                    display: flex;
                    align-items: center;
                    & .btn {
                        flex: 1 1 calc(100% / 3);
                        border-right: 1px solid rgba($color: #000000, $alpha: .15);
                        &:last-child {
                            border: none;
                        }
                        & .admin__count {
                            transform: translateX(-35px) translateY(-10%);
                        }
                    }
                }
                &:nth-child(2) {
                    & .search {
                        display: flex;
                        padding: 20px;
                        & .search__btn {
                            top: 50%;
                            right: 20px;
                            transform: translateY(-50%);
                        }
                    }
                }
            }
        }
        &--inner {
            display: block;
            height: auto;
            opacity: 1;
            transition: all 0.3 ease-in-out;
            &.hide {
                display: none;
                height: 0;
                opacity: 0;
                transition: all 0.3 ease-in-out;
            }
        }
    }
    &__desktop {
        &--inner {
            width: 100%;
            min-width: 220px;
            max-width: 220px;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: var(--light-primary);
            box-shadow: 0 0 5px 0 rgba($color: #000000, $alpha: .15);
            z-index: 99999;
            &.hide {
                display: none;
            }
        }
    }
}
