.btn {
    cursor: pointer;
    &--search {
        width: 50px;
        height: 50px;
        border-radius: 100px;
        background-color: var(--accedent-primary);
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &--nav {
        padding: 26px 37px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        border: none;
        background-color: var(--light-primary);
    }
    &--admin {
        min-width: 110px;
        height: 80px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        gap: 6px;
        border: none;
        background-color: transparent;
        position: relative;
        @media screen and (min-width: 1440px) {
            min-width: 110px;
        }
        @media screen and (min-width: 1280px) and (max-width: 1439.98px) {
            min-width: 110px;
        }
        @media screen and (min-width: 992px) and (max-width: 1279.98px) {
            min-width: 110px;
        }
        @media screen and (min-width: 768px) and (max-width: 991.98px) {
            min-width: 110px;
        }
        @media screen and (min-width: 465px) and (max-width: 767.98px) {
            min-width: 80px;
            height: auto;
        }
        @media screen and (min-width: 375px) and (max-width: 464.98px) {
            min-width: 80px;
            height: auto;
        }
        @media screen and (max-width: 374.98px) {
            min-width: 80px;
            height: auto;
        }
    }
    &--admin-menu {
        min-width: 110px;
        height: 80px;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        gap: 6px;
        border: none;
        background-color: transparent;
        position: relative;
        @media screen and (min-width: 1440px) {
            min-width: 110px;
        }
        @media screen and (min-width: 1280px) and (max-width: 1439.98px) {
            min-width: 110px;
        }
        @media screen and (min-width: 992px) and (max-width: 1279.98px) {
            min-width: 110px;
        }
        @media screen and (min-width: 768px) and (max-width: 991.98px) {
            min-width: 110px;
        }
        @media screen and (min-width: 465px) and (max-width: 767.98px) {
            min-width: 80px;
            height: auto;
        }
        @media screen and (min-width: 375px) and (max-width: 464.98px) {
            min-width: 80px;
            height: auto;
        }
        @media screen and (max-width: 374.98px) {
            min-width: 80px;
            height: auto;
        }
    }
    &--admin-mobile {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background-color: transparent;
        border: none;
        padding: 26px 37px;
        cursor: pointer;
        &:hover,
        &:active,
        &:focus {
            background-color: var(--middle-primary);
        }
    }
    &--primary {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 14px;
        padding: 20px;
        background-color: var(--accedent-primary);
        border: 1px solid var(--accedent-primary);
        border-radius: 100px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover,
        &:active,
        &:focus {
            transition: all 0.3s ease-in-out;
            transform: scale(1.025);
        }
    }
    &--secondary {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 14px;
        padding: 20px;
        background-color: var(--light-primary);
        border: 1px solid var(--accedent-primary);
        border-radius: 100px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover,
        &:active,
        &:focus {
            transition: all 0.3s ease-in-out;
            transform: scale(1.025);
        }
    }
    &--transparent {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 14px;
        padding: 20px;
        background-color: transparent;
        border: 1px solid var(--accedent-primary);
        border-radius: 100px;
        cursor: pointer;
        white-space: nowrap;
        transition: all 0.3s ease-in-out;
        &:hover,
        &:active,
        &:focus {
            transition: all 0.3s ease-in-out;
            transform: scale(1.025);
        }
    }
    &--register {
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.15);
        border-right: 1px solid rgba($color: #ffffff, $alpha: 0.15);
        & span.desc {
            color: var(--middle-secondary);
        }
        &:hover {
            background-color: rgba($color: #ffffff, $alpha: 0.15);
            & span.desc {
                color: var(--light-primary);
            }
        }
        &.active {
            background-color: var(--accedent-primary);
            & span.desc {
                color: var(--light-primary);
            }
        }
    }
    &--close {
        width: 100%;
        min-width: 50px;
        max-width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--dark-primary);
        border: 1px solid var(--accedent-primary);
        border-radius: 100px;
        cursor: pointer;
        white-space: nowrap;
        transition: all 0.3s ease-in-out;
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(25%) translateY(-25%);
        &:hover,
        &:active,
        &:focus {
            transition: all 0.3s ease-in-out;
            background-color: var(--accedent-primary);
            box-shadow: 0 0 5px 0 rgba($color: #000000, $alpha: .5);
        }
        & .icon {
            width: 24px;
            height: 24px;
        }
    }
    &--text {
        width: 100%;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover,
        &:active,
        &:focus {
            transition: all 0.3s ease-in-out;
            transform: scale(1.025);
        }
    }
    &--icon {
        width: 30px;
        min-width: 30px;
        height: 30px;
        min-height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: transparent;
        &.hide {
            display: none;
        }
    }
}
