.form {
    padding-bottom: 0;
    &__list {
        width: 100%;
        display: flex;
        align-items: center;
        background: url(../img/form-bg.webp) no-repeat 50% 50% / contain;
        background-size: 100% 400px;
        @media screen and (min-width: 1440px) {
            gap: 48px;
        }
        @media screen and (min-width: 1280px) and (max-width: 1439.98px) {
            gap: 48px;
        }
        @media screen and (min-width: 992px) and (max-width: 1279.98px) {
            gap: 48px;
        }
        @media screen and (min-width: 768px) and (max-width: 991.98px) {
            flex-direction: column;
            gap: 24px;
        }
        @media screen and (min-width: 465px) and (max-width: 767.98px) {
            flex-direction: column;
            gap: 24px;
        }
        @media screen and (min-width: 375px) and (max-width: 464.98px) {
            flex-direction: column;
            gap: 24px;
        }
        @media screen and (max-width: 374.98px) {
            flex-direction: column;
            gap: 24px;
        }
    }
    &__item {
        @media screen and (min-width: 1440px) {
            display: flex;
            flex-direction: column;
            gap: 48px;
        }
        @media screen and (min-width: 1280px) and (max-width: 1439.98px) {
            display: flex;
            flex-direction: column;
            gap: 48px;
        }
        @media screen and (min-width: 992px) and (max-width: 1279.98px) {
            display: flex;
            flex-direction: column;
            gap: 48px;
        }
        @media screen and (min-width: 768px) and (max-width: 991.98px) {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
        @media screen and (min-width: 465px) and (max-width: 767.98px) {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
        @media screen and (min-width: 375px) and (max-width: 464.98px) {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
        @media screen and (max-width: 374.98px) {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
        &--small {
            @media screen and (min-width: 1440px) {
                width: calc(40% - 24px);
            }
            @media screen and (min-width: 1280px) and (max-width: 1439.98px) {
                width: calc(40% - 24px);
            }
            @media screen and (min-width: 992px) and (max-width: 1279.98px) {
                width: calc(40% - 24px);
            }
            @media screen and (min-width: 768px) and (max-width: 991.98px) {
                width: 100%;
            }
            @media screen and (min-width: 465px) and (max-width: 767.98px) {
                width: 100%;
            }
            @media screen and (min-width: 375px) and (max-width: 464.98px) {
                width: 100%;
            }
            @media screen and (max-width: 374.98px) {
                width: 100%;
            }
        }
        &--large {
            @media screen and (min-width: 1440px) {
                width: calc(60% - 24px);
            }
            @media screen and (min-width: 1280px) and (max-width: 1439.98px) {
                width: calc(60% - 24px);
            }
            @media screen and (min-width: 992px) and (max-width: 1279.98px) {
                width: calc(60% - 24px);
            }
            @media screen and (min-width: 768px) and (max-width: 991.98px) {
                width: 100%;
            }
            @media screen and (min-width: 465px) and (max-width: 767.98px) {
                width: 100%;
            }
            @media screen and (min-width: 375px) and (max-width: 464.98px) {
                width: 100%;
            }
            @media screen and (max-width: 374.98px) {
                width: 100%;
            }
        }
    }
    &__title {
        display: flex;
        flex-direction: column;
        @media screen and (min-width: 1440px) {
            gap: 24px;
        }
        @media screen and (min-width: 1280px) and (max-width: 1439.98px) {
            gap: 24px;
        }
        @media screen and (min-width: 992px) and (max-width: 1279.98px) {
            gap: 16px;
        }
        @media screen and (min-width: 768px) and (max-width: 991.98px) {
            gap: 16px;
        }
        @media screen and (min-width: 465px) and (max-width: 767.98px) {
            gap: 16px;
        }
        @media screen and (min-width: 375px) and (max-width: 464.98px) {
            gap: 16px;
        }
        @media screen and (max-width: 374.98px) {
            gap: 16px;
        }
    }
    &__wrap {
        background-color: var(--dark-primary);
        @media screen and (min-width: 1440px) {
            width: 95%;
            padding: 50px 50px 80px;
            display: flex;
            flex-wrap: wrap;
            gap: 24px;
            clip-path: polygon(0% 0%, 100% 0, 100% 95%, 0% 100%);
        }
        @media screen and (min-width: 1280px) and (max-width: 1439.98px) {
            width: 95%;
            padding: 40px 40px 80px;
            display: flex;
            flex-wrap: wrap;
            gap: 24px;
            clip-path: polygon(0% 0%, 100% 0, 100% 95%, 0% 100%);
        }
        @media screen and (min-width: 992px) and (max-width: 1279.98px) {
            width: 90%;
            padding: 30px 30px 80px;
            display: flex;
            flex-wrap: wrap;
            gap: 24px;
            clip-path: polygon(0% 0%, 100% 0, 100% 95%, 0% 100%);
        }
        @media screen and (min-width: 768px) and (max-width: 991.98px) {
            width: 100%;
            padding: 30px 30px 80px;
            display: flex;
            flex-wrap: wrap;
            gap: 24px;
            clip-path: polygon(0% 0%, 100% 0, 100% 95%, 0% 100%);
        }
        @media screen and (min-width: 465px) and (max-width: 767.98px) {
            width: 100%;
            padding: 30px 30px 80px;
            display: flex;
            flex-direction: column;
            gap: 24px;
            clip-path: polygon(0% 0%, 100% 0, 100% 95%, 0% 100%);
        }
        @media screen and (min-width: 375px) and (max-width: 464.98px) {
            width: 100%;
            padding: 30px 30px 80px;
            display: flex;
            flex-direction: column;
            gap: 24px;
            clip-path: polygon(0% 0%, 100% 0, 100% 95%, 0% 100%);
        }
        @media screen and (max-width: 374.98px) {
            width: 100%;
            padding: 30px 30px 80px;
            display: flex;
            flex-direction: column;
            gap: 24px;
            clip-path: polygon(0% 0%, 100% 0, 100% 95%, 0% 100%);
        }
        &--row {
            display: flex;
            align-items: center;
            gap: 16px;
        }
        &--checkbox {
            display: flex;
            & button.btn {
                width: 100%;
                max-width: 300px;
            }
            @media screen and (min-width: 1440px) {
                align-items: center;
                gap: 24px;
            }
            @media screen and (min-width: 1280px) and (max-width: 1439.98px) {
                flex-direction: column;
                align-items: flex-start;
                gap: 16px;
            }
            @media screen and (min-width: 992px) and (max-width: 1279.98px) {
                flex-direction: column;
                align-items: flex-start;
                gap: 16px;
            }
            @media screen and (min-width: 768px) and (max-width: 991.98px) {
                align-items: center;
                gap: 24px;
            }
            @media screen and (min-width: 465px) and (max-width: 767.98px) {
                flex-direction: column;
                align-items: flex-start;
                gap: 16px;
            }
            @media screen and (min-width: 375px) and (max-width: 464.98px) {
                flex-direction: column;
                align-items: flex-start;
                gap: 16px;
            }
            @media screen and (max-width: 374.98px) {
                flex-direction: column;
                align-items: flex-start;
                gap: 16px;
            }
        }
        &--column {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 12px;
            @media screen and (min-width: 1440px) {
                flex: 1 1 calc(50% - 24px);
            }
            @media screen and (min-width: 1280px) and (max-width: 1439.98px) {
                flex: 1 1 calc(50% - 24px);
            }
            @media screen and (min-width: 992px) and (max-width: 1279.98px) {
                flex: 1 1 calc(50% - 24px);
            }
            @media screen and (min-width: 768px) and (max-width: 991.98px) {
                flex: 1 1 calc(50% - 24px);
            }
            @media screen and (min-width: 465px) and (max-width: 767.98px) {
                flex: 1 1 100%;
            }
            @media screen and (min-width: 375px) and (max-width: 464.98px) {
                flex: 1 1 100%;
            }
            @media screen and (max-width: 374.98px) {
                flex: 1 1 100%;
            }
        }
    }
    &__label {
        opacity: 0.3;
    }
    &__input {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        padding: 24px;
        gap: 14px;
        background: rgba(255, 255, 255, 0.12);
        border: 1px solid var(--light-primary);
        backdrop-filter: blur(33px);
        border-radius: 100px;
        &::placeholder {
            color: rgba(255, 255, 255, 0.5);
        }
    }
    &__textarea {
        width: 100%;
        height: auto;
        display: flex;
        align-items: flex-start;
        padding: 24px;
        gap: 14px;
        background: rgba(255, 255, 255, 0.12);
        border: 1px solid var(--light-primary);
        backdrop-filter: blur(33px);
        border-radius: 24px;
        &::placeholder {
            color: rgba(255, 255, 255, 0.5);
        }
    }
    &__icon {
        width: 25px;
        height: 25px;
        object-fit: contain;
    }
}
