.logo {
    &--header {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    &--footer {
        width: 150px;
        height: 45px;
        object-fit: contain;
        @media screen and (min-width: 465px) and (max-width: 767.98px) {
            margin: 0 auto;
        }
        @media screen and (min-width: 375px) and (max-width: 464.98px) {
            margin: 0 auto;
        }
        @media screen and (max-width: 374.98px) {
            margin: 0 auto;
        }
    }
}