.privilege {
    background-color: var(--dark-primary);
    @media screen and (min-width: 1440px) {
        padding: 0 200px;
    }
    @media screen and (min-width: 1280px) and (max-width: 1439.98px) {
        padding: 0 150px;
    }
    @media screen and (min-width: 992px) and (max-width: 1279.98px) {
        padding: 0 70px;
    }
    @media screen and (min-width: 768px) and (max-width: 991.98px) {
        padding: 0 20px;
    }
    @media screen and (min-width: 465px) and (max-width: 767.98px) {
        padding: 0 10px;
    }
    @media screen and (min-width: 375px) and (max-width: 464.98px) {
        padding: 0;
    }
    @media screen and (max-width: 374.98px) {
        padding: 0;
    }
    &__list {
        width: 100%;
        display: grid;
        @media screen and (min-width: 1440px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: auto;
            grid-template-areas:
                "frst scnd thrd frth";
        }
        @media screen and (min-width: 1280px) and (max-width: 1439.98px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: auto;
            grid-template-areas:
                "frst scnd thrd frth";
        }
        @media screen and (min-width: 992px) and (max-width: 1279.98px) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
            grid-template-areas:
                "frst scnd"
                "thrd frth";
        }
        @media screen and (min-width: 768px) and (max-width: 991.98px) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
            grid-template-areas:
                "frst scnd"
                "thrd frth";
        }
        @media screen and (min-width: 465px) and (max-width: 767.98px) {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto auto;
            grid-template-areas:
                "frst"
                "scnd"
                "thrd"
                "frth";
        }
        @media screen and (min-width: 375px) and (max-width: 464.98px) {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto auto;
            grid-template-areas:
                "frst"
                "scnd"
                "thrd"
                "frth";
        }
        @media screen and (max-width: 374.98px) {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto auto;
            grid-template-areas:
                "frst"
                "scnd"
                "thrd"
                "frth";
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        gap: 24px;
        @media screen and (min-width: 1440px) {
            padding: 48px 30px;
            border-right: 1px solid rgba($color: #ffffff, $alpha: .15);
            &:last-child {
                border: none;
            }
        }
        @media screen and (min-width: 1280px) and (max-width: 1439.98px) {
            padding: 48px 30px;
            border-right: 1px solid rgba($color: #ffffff, $alpha: .15);
            &:last-child {
                border: none;
            }
        }
        @media screen and (min-width: 992px) and (max-width: 1279.98px) {
            padding: 30px;
            border-bottom: 1px solid rgba($color: #ffffff, $alpha: .15);
            &:nth-child(odd) {
                border-right: 1px solid rgba($color: #ffffff, $alpha: .15);
            }
            &:last-child {
                border: none;
            }
        }
        @media screen and (min-width: 768px) and (max-width: 991.98px) {
            padding: 30px;
            border-bottom: 1px solid rgba($color: #ffffff, $alpha: .15);
            &:nth-child(odd) {
                border-right: 1px solid rgba($color: #ffffff, $alpha: .15);
            }
            &:last-child {
                border: none;
            }
        }
        @media screen and (min-width: 465px) and (max-width: 767.98px) {
            padding: 30px;
            border-bottom: 1px solid rgba($color: #ffffff, $alpha: .15);
            &:last-child {
                border: none;
            }
        }
        @media screen and (min-width: 375px) and (max-width: 464.98px) {
            padding: 30px 20px;
            border-bottom: 1px solid rgba($color: #ffffff, $alpha: .15);
            &:last-child {
                border: none;
            }
        }
        @media screen and (max-width: 374.98px) {
            padding: 30px 20px;
            border-bottom: 1px solid rgba($color: #ffffff, $alpha: .15);
            &:last-child {
                border: none;
            }
        }
        &--frst {
            grid-area: frst;
        }
        &--scnd {
            grid-area: scnd;
        }
        &--thrd {
            grid-area: thrd;
        }
        &--frth {
            grid-area: frth;
        }
    }
    &__wrap {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}
