.promo {
    width: 100%;
    height: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(120deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 54.99%, rgba(244,244,244,1) 55%, rgba(244,244,244,1) 100%);
    @media screen and (min-width: 1440px) {
        padding: 50px 200px;
    }
    @media screen and (min-width: 1280px) and (max-width: 1439.98px) {
        padding: 50px 150px;
    }
    @media screen and (min-width: 992px) and (max-width: 1279.98px) {
        padding: 50px 100px;
    }
    @media screen and (min-width: 768px) and (max-width: 991.98px) {
        padding: 50px 50px;
    }
    @media screen and (min-width: 465px) and (max-width: 767.98px) {
        padding: 40px 40px;
    }
    @media screen and (min-width: 375px) and (max-width: 464.98px) {
        padding: 40px 20px;
    }
    @media screen and (max-width: 374.98px) {
        padding: 40px 20px;
    }
    &__list {
        width: 100%;
        height: 100%;
        display: flex;
        @media screen and (min-width: 1440px) {
            flex-direction: row;
            align-items: center;
            gap: 48px;
        }
        @media screen and (min-width: 1280px) and (max-width: 1439.98px) {
            flex-direction: row;
            align-items: center;
            gap: 32px;
        }
        @media screen and (min-width: 992px) and (max-width: 1279.98px) {
            flex-direction: row;
            align-items: center;
            gap: 32px;
        }
        @media screen and (min-width: 768px) and (max-width: 991.98px) {
            flex-direction: column;
            gap: 32px;
        }
        @media screen and (min-width: 465px) and (max-width: 767.98px) {
            flex-direction: column;
            gap: 24px;
        }
        @media screen and (min-width: 375px) and (max-width: 464.98px) {
            flex-direction: column;
            gap: 24px;
        }
        @media screen and (max-width: 374.98px) {
            flex-direction: column;
            gap: 24px;
        }
    }
    &__item {
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        @media screen and (min-width: 1440px) {
            &--small {
                width: calc(45% - 32px);
            }
            &--large {
                width: calc(65% - 32px);
            }
            gap: 48px;
        }
        @media screen and (min-width: 1280px) and (max-width: 1439.98px) {
            &--small {
                width: calc(45% - 32px);
            }
            &--large {
                width: calc(65% - 32px);
            }
            gap: 32px;
        }
        @media screen and (min-width: 992px) and (max-width: 1279.98px) {
            &--small {
                width: calc(45% - 32px);
            }
            &--large {
                width: calc(65% - 32px);
            }
            gap: 32px;
        }
        @media screen and (min-width: 768px) and (max-width: 991.98px) {
            &--small {
                width: 100%;
            }
            &--large {
                width: 100%;
            }
            gap: 32px;
        }
        @media screen and (min-width: 465px) and (max-width: 767.98px) {
            flex: 1 1 100%;
            gap: 32px;
        }
        @media screen and (min-width: 375px) and (max-width: 464.98px) {
            flex: 1 1 100%;
            gap: 32px;
        }
        @media screen and (max-width: 374.98px) {
            flex: 1 1 100%;
            gap: 32px;
        }
        &--info {
            display: flex;
            flex-direction: column;
            @media screen and (min-width: 1440px) {
                gap: 24px;
                & .btn {
                    width: 200px;
                }
            }
            @media screen and (min-width: 1280px) and (max-width: 1439.98px) {
                gap: 24px;
                & .btn {
                    width: 200px;
                }
            }
            @media screen and (min-width: 992px) and (max-width: 1279.98px) {
                gap: 24px;
                & .btn {
                    width: 200px;
                }
            }
            @media screen and (min-width: 768px) and (max-width: 991.98px) {
                gap: 16px;
                & .btn {
                    width: 200px;
                }
            }
            @media screen and (min-width: 465px) and (max-width: 767.98px) {
                gap: 16px;
                & .btn {
                    width: 200px;
                }
            }
            @media screen and (min-width: 375px) and (max-width: 464.98px) {
                gap: 16px;
                & .btn {
                    width: 100%;
                }
            }
            @media screen and (max-width: 374.98px) {
                gap: 16px;
                & .btn {
                    width: 100%;
                }
            }
        }
    }
    &__img {
        width: auto;
        height: 100%;
    }
}
