.social {
    &__list {
        &--header {
            display: flex;
            align-items: center;
            gap: 0;
            @media screen and (min-width: 465px) and (max-width: 767.98px) {
                width: 100%;
            }
            @media screen and (min-width: 375px) and (max-width: 464.98px) {
                width: 100%;
            }
            @media screen and (max-width: 374.98px) {
                width: 100%;
            }
        }
        &--footer {
            display: flex;
            align-items: center;
            gap: 20px;
            @media screen and (max-width: 767.98px) {
                justify-content: center;
            }
        }
    }
    &__item {
        &--header {
            padding: 13.5px 24px;
            border-left: 1px solid rgba(255, 255, 255, 0.15);
            &:last-child {
                border-right: 1px solid rgba(255, 255, 255, 0.15);
            }
            @media screen and (min-width: 465px) and (max-width: 767.98px) {
                flex: 1 1 calc(100% / 4);
                display: flex;
                align-items: center;
                justify-content: center;
            }
            @media screen and (min-width: 375px) and (max-width: 464.98px) {
                flex: 1 1 calc(100% / 4);
                display: flex;
                align-items: center;
                justify-content: center;
            }
            @media screen and (max-width: 374.98px) {
                flex: 1 1 calc(100% / 4);
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    &__link {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}