.steps {
    background-color: var(--dark-primary);
    &__list {
        width: 100%;
        display: flex;
        align-items: flex-start;
        gap: 50px;
        @media screen and (min-width: 1440px) {
            flex-direction: row;
        }
        @media screen and (min-width: 1280px) and (max-width: 1439.98px) {
            flex-direction: row;
        }
        @media screen and (min-width: 992px) and (max-width: 1279.98px) {
            flex-direction: column;
        }
        @media screen and (min-width: 768px) and (max-width: 991.98px) {
            flex-direction: column;
        }
        @media screen and (min-width: 465px) and (max-width: 767.98px) {
            flex-direction: column;
        }
        @media screen and (min-width: 375px) and (max-width: 464.98px) {
            flex-direction: column;
        }
        @media screen and (max-width: 374.98px) {
            flex-direction: column;
        }
    }
    &__item {
        width: 100%;
        flex: 1 1 calc(50% - 50px);
        display: flex;
        flex-direction: column;
        position: relative;
        @media screen and (min-width: 1440px) {
            gap: 48px;
        }
        @media screen and (min-width: 1280px) and (max-width: 1439.98px) {
            gap: 48px;
        }
        @media screen and (min-width: 992px) and (max-width: 1279.98px) {
            gap: 48px;
        }
        @media screen and (min-width: 768px) and (max-width: 991.98px) {
            gap: 24px;
        }
        @media screen and (min-width: 465px) and (max-width: 767.98px) {
            gap: 24px;
        }
        @media screen and (min-width: 375px) and (max-width: 464.98px) {
            gap: 24px;
        }
        @media screen and (max-width: 374.98px) {
            gap: 24px;
        }
        &--wrap {
            @media screen and (min-width: 1440px) {
                gap: 80px;
            }
            @media screen and (min-width: 1280px) and (max-width: 1439.98px) {
                gap: 80px;
            }
            @media screen and (min-width: 992px) and (max-width: 1279.98px) {
                gap: 80px;
            }
            @media screen and (min-width: 768px) and (max-width: 991.98px) {
                gap: 40px;
            }
            @media screen and (min-width: 465px) and (max-width: 767.98px) {
                gap: 40px;
            }
            @media screen and (min-width: 375px) and (max-width: 464.98px) {
                gap: 40px;
            }
            @media screen and (max-width: 374.98px) {
                gap: 40px;
            }
        }
    }
    &__wrap {
        &:last-child {
            & .steps__icon {
                &::before {
                    height: 0;
                }
            }
        }
        &--row {
            display: flex;
            align-items: flex-start;
            gap: 32px;
            @media screen and (min-width: 1440px) {
                height: 110px;
                &:last-child {
                    height: auto;
                }
            }
            @media screen and (min-width: 1280px) and (max-width: 1439.98px) {
                height: 200px;
                &:last-child {
                    height: auto;
                }
            }
            @media screen and (min-width: 992px) and (max-width: 1279.98px) {
                height: 100px;
                &:last-child {
                    height: auto;
                }
            }
            @media screen and (min-width: 768px) and (max-width: 991.98px) {
                height: 120px;
                &:last-child {
                    height: auto;
                }
            }
            @media screen and (min-width: 465px) and (max-width: 767.98px) {
                height: 140px;
                &:last-child {
                    height: auto;
                }
            }
            @media screen and (min-width: 375px) and (max-width: 464.98px) {
                gap: 24px;
                height: 200px;
                &:last-child {
                    height: auto;
                }
            }
            @media screen and (max-width: 374.98px) {
                gap: 24px;
                height: 220px;
                &:last-child {
                    height: auto;
                }
            }
        }
        &--column {
            display: flex;
            flex-direction: column;
            @media screen and (min-width: 1440px) {
                gap: 18px;
            }
            @media screen and (min-width: 1280px) and (max-width: 1439.98px) {
                gap: 18px;
            }
            @media screen and (min-width: 992px) and (max-width: 1279.98px) {
                gap: 18px;
            }
            @media screen and (min-width: 768px) and (max-width: 991.98px) {
                gap: 18px;
            }
            @media screen and (min-width: 465px) and (max-width: 767.98px) {
                gap: 9px;
            }
            @media screen and (min-width: 375px) and (max-width: 464.98px) {
                gap: 9px;
            }
            @media screen and (max-width: 374.98px) {
                gap: 9px;
            }
        }
    }
    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--accedent-primary);
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 0;
            top: 10%;
            left: 49%;
            border: 1px dashed var(--accedent-primary);
            opacity: 0.2;
        }
        @media screen and (min-width: 1640px) {
            width: 90px;
            min-width: 90px;
            height: 90px;
            min-height: 90px;
            &::before {
                height: 200px;
            }
        }
        @media screen and (min-width: 1440px) and (max-width: 1639.98px) {
            width: 90px;
            min-width: 90px;
            height: 90px;
            min-height: 90px;
            &::before {
                height: 200px;
            }
        }
        @media screen and (min-width: 1280px) and (max-width: 1439.98px) {
            width: 90px;
            min-width: 90px;
            height: 90px;
            min-height: 90px;
            &::before {
                height: 220px;
            }
        }
        @media screen and (min-width: 992px) and (max-width: 1279.98px) {
            width: 90px;
            min-width: 90px;
            height: 90px;
            min-height: 90px;
            &::before {
                height: 200px;
            }
        }
        @media screen and (min-width: 768px) and (max-width: 991.98px) {
            width: 90px;
            min-width: 90px;
            height: 90px;
            min-height: 90px;
            &::before {
                height: 200px;
            }
        }
        @media screen and (min-width: 465px) and (max-width: 767.98px) {
            width: 60px;
            min-width: 60px;
            height: 60px;
            min-height: 60px;
            &::before {
                height: 200px;
            }
        }
        @media screen and (min-width: 375px) and (max-width: 464.98px) {
            width: 60px;
            min-width: 60px;
            height: 60px;
            min-height: 60px;
            &::before {
                height: 260px;
            }
        }
        @media screen and (max-width: 374.98px) {
            width: 60px;
            min-width: 60px;
            height: 60px;
            min-height: 60px;
            &::before {
                height: 260px;
            }
        }
        &--step {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            width: 32px;
            height: 32px;
            left: 50%;
            transform: translateX(-50%) translateY(25%);
            @media screen and (min-width: 1440px) {
                top: -25%;
            }
            @media screen and (min-width: 1280px) and (max-width: 1439.98px) {
                top: -25%;
            }
            @media screen and (min-width: 992px) and (max-width: 1279.98px) {
                top: -25%;
            }
            @media screen and (min-width: 768px) and (max-width: 991.98px) {
                top: -25%;
            }
            @media screen and (min-width: 465px) and (max-width: 767.98px) {
                top: -55%;
            }
            @media screen and (min-width: 375px) and (max-width: 464.98px) {
                top: -55%;
            }
            @media screen and (max-width: 374.98px) {
                top: -55%;
            }
        }
    }
    &__img {
        width: 100%;
        overflow: hidden;
        clip-path: polygon(0% 0%, 100% 0, 100% 85%, 0% 100%);
        display: flex;
        align-items: center;
        &--desktop {
            @media screen and (min-width: 1660px) {
                height: 550px;
                position: absolute;
                top: 115%;
            }
            @media screen and (min-width: 1440px) and (max-width: 1659.98px) {
                height: auto;
                position: absolute;
                top: 110%;
            }
            @media screen and (min-width: 1280px) and (max-width: 1439.98px) {
                position: relative;
                top: 0;
                height: auto;
            }
            @media screen and (min-width: 992px) and (max-width: 1279.98px) {
                clip-path: polygon(0% 0%, 100% 0, 100% 90%, 0% 100%);
                position: relative;
                top: 0;
                height: 650px;
            }
            @media screen and (min-width: 768px) and (max-width: 991.98px) {
                clip-path: polygon(0% 0%, 100% 0, 100% 88%, 0% 100%);
                position: relative;
                top: 0;
                height: 550px;
            }
            @media screen and (min-width: 465px) and (max-width: 767.98px) {
                position: relative;
                top: 0;
                height: 400px;
            }
            @media screen and (min-width: 375px) and (max-width: 464.98px) {
                position: relative;
                top: 0;
                height: 300px;
            }
            @media screen and (max-width: 374.98px) {
                position: relative;
                top: 0;
                height: auto;
            }
        }
    }
}
