.stec {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 1440px) {
        gap: 48px;
    }
    @media screen and (min-width: 1280px) and (max-width: 1439.98px) {
        gap: 48px;
    }
    @media screen and (min-width: 992px) and (max-width: 1279.98px) {
        gap: 48px;
    }
    @media screen and (min-width: 768px) and (max-width: 991.98px) {
        gap: 32px;
    }
    @media screen and (min-width: 465px) and (max-width: 767.98px) {
        gap: 32px;
    }
    @media screen and (min-width: 375px) and (max-width: 464.98px) {
        gap: 32px;
    }
    @media screen and (max-width: 374.98px) {
        gap: 32px;
    }
    &__list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }
    &__item {
        width: 100%;
        @media screen and (min-width: 1440px) {
            flex: 1 1 calc(50% - 24px);
        }
        @media screen and (min-width: 1280px) and (max-width: 1439.98px) {
            flex: 1 1 calc(50% - 24px);
        }
        @media screen and (min-width: 992px) and (max-width: 1279.98px) {
            flex: 1 1 calc(50% - 24px);
        }
        @media screen and (min-width: 768px) and (max-width: 991.98px) {
            flex: 1 1 calc(50% - 24px);
        }
        @media screen and (min-width: 580px) and (max-width: 767.98px) {
            flex: 1 1 100%;
        }
        @media screen and (min-width: 375px) and (max-width: 579.98px) {
            flex: 1 1 100%;
        }
        @media screen and (max-width: 374.98px) {
            flex: 1 1 100%;
        }
        &:nth-child(1),
        &:nth-child(4) {
            background-color: var(--dark-primary);
        }
        &:nth-child(2),
        &:nth-child(3) {
            background-color: var(--light-secondary);
        }
    }
    &__card {
        width: 100%;
        display: flex;
        align-items: center;
        @media screen and (min-width: 1664px) {
            flex-direction: row;
        }
        @media screen and (min-width: 1280px) and (max-width: 1663.98px) {
            flex-direction: column;
        }
        @media screen and (min-width: 992px) and (max-width: 1279.98px) {
            flex-direction: column;
        }
        @media screen and (min-width: 768px) and (max-width: 991.98px) {
            flex-direction: column;
        }
        @media screen and (min-width: 580px) and (max-width: 767.98px) {
            flex-direction: row;
        }
        @media screen and (min-width: 375px) and (max-width: 579.98px) {
            flex-direction: column;
        }
        @media screen and (max-width: 374.98px) {
            flex-direction: column;
        }
    }
    &__header {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 18px;
        @media screen and (min-width: 1440px) {
            padding: 32px;
        }
        @media screen and (min-width: 1280px) and (max-width: 1439.98px) {
            padding: 32px;
        }
        @media screen and (min-width: 992px) and (max-width: 1279.98px) {
            padding: 32px;
        }
        @media screen and (min-width: 768px) and (max-width: 991.98px) {
            padding: 32px;
        }
        @media screen and (min-width: 580px) and (max-width: 767.98px) {
            padding: 24px;
        }
        @media screen and (min-width: 375px) and (max-width: 579.98px) {
            padding: 24px;
        }
        @media screen and (max-width: 374.98px) {
            padding: 24px;
        }
    }
    &__footer {
        width: 100%;
        height: 260px;
        padding: 0;
        &--frst {
            background: url(../img/img_6-bg.webp) no-repeat 50% 100% / cover;
        }
        &--scnd {
            background: url(../img/img_7-bg.webp) no-repeat 50% 100% / cover;
        }
        &--thrd {
            background: url(../img/img_8-bg.webp) no-repeat 50% 100% / cover;
        }
        &--frth {
            background: url(../img/img_9-bg.webp) no-repeat 50% 100% / cover;
        }
    }
    &__img {
        width: 150px;
        height: 150px;
        & .img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
