:root {
    --font-primary: "Montserrat";
    --light-primary: #ffffff;
    --light-secondary: #f4f4f4;
    --middle-primary: #e9ecf0;
    --middle-secondary: #7c7c7c;
    --dark-primary: #0a1e3f;
    --dark-secondary: #262626;
    --accedent-primary: #01b307;
    --accedent-secondary: #243f6c;
}

@import "_fonts";
@import "_outline";
@import "_scrollbar";
@import "_section";
@import "_title";
@import "_desc";
@import "_header";
@import "_footer";
@import "_nav";
@import "_social";
@import "_faq";
@import "_icon";
@import "_logo";
@import "_search";
@import "_btn";
@import "_admin";
@import "_privilege";
@import "_infinite";
@import "_steps";
@import "_img";
@import "_services";
@import "_form";
@import "_checkbox";
@import "_stec";
@import "_contact";
@import "_about";
@import "_promo";
@import "_popup";
@import "_register";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: var(--font-primary);
    border-radius: 2px;
}